/* sign-up-overlay Styles */
#sign-up-overlay {
    float: left;
    position: fixed;
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(80, 80, 80, 0.7);
}

#sign-up-popup {
  position: fixed;
  width: 300px;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 6px #111;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

#sign-up-popup-close {
    margin-left: auto;
    width: 100%;
}

#sign-up-popup i {
    float: right;
    font-size: 20px;
    clear: both;
}

#sign-up-popup i:hover {
    cursor: pointer;
    color: red;
}

#sign-up-popup input {
  margin: 5px;
}

#sign-up-popup button {
  padding: 0 5px;
}
  
.topbar {
  width: auto;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.topbar h4 {
  display: inline;
}

.topbar i:hover {
  cursor: pointer;
}

.topbar form {
  display: inline;
  background-color: none;
}

#js-class-list {
  background-color: #bbb;
}

.class-selector {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
  margin: 0px;
  color: white;
  background-color: black;
}

.class-selector p {
  mix-blend-mode: exclusion;
}

#js-week-select {
  background-color: #9f9f9f;
}

#js-week-select i {
  margin: 0 10px;
}

#js-week-select button {
  padding: 0 5px;
}

#signup-success {
  background-color: green;
}

#signup-failure {
  background-color: red;
}

.calendar {
  position: relative;
  top: 0;
  left: 0;
  z-index: 0;
  text-align: center;
}

.day {
  display: inline-grid;
  border: solid black 1px;
  border-radius: 4px;
  box-shadow: 4px 4px 6px #222;
  background-color: #f3f3f3;
  color: #111;
  margin: 10px;
  min-width: 13%;
}

.day * {
  padding: 5px 20px;
}

.day-header {
  border-bottom: solid black 1px;
}

.time-slot {
  border-bottom: solid black 1px;
}

.time-slot .fa {
  padding: 0;
  margin-left: 2px;
  font-size: 20px;
}

.time-slot .fa:hover {
  color: green;
  cursor: pointer;
}

.time-slot .event {
  border-top: dotted black 1px;
}

.event .fa-trash:hover {
  color: red;
}

.event .signup-info {
  text-align: center;
  padding: 0;
  margin: 0;
}